// base styles

body {
  background-color: $white;
  color: $black;
  font-family: $font-stack-sans;
  font-size: 12px;
  font-weight: 300;
}

a {
  color: $black;
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

main {
  a {
    font-size: 12px;
  }
}

p {
  font-size: 12px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-stack-serif;
}
