//Fonts
$font-stack-sans: 'Roboto', 'Helvetica', 'Open Sans', sans-serif;
$font-stack-serif: 'Alegreya', 'Cambria', 'Times', 'Times New Roman', serif;


//Colors
$black: #222;
$gray: #404040;
$tan: #c3c2ae;
$trans-black: rgba(0, 0, 0, .7);
$trans-white: rgba(255, 255, 255, .85);
$white: #fcfcfc;
