// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1080px;

// Device Widths
$bottom: 390px; // Apple iPhone 6 and Smaller
$small-phone: 414px; // Nexus 6P Portrait
$large-phone: 666px; // iPhone 6 Plus Landscape
$small-screen: 736px; // Apple iPhone 6 Plus Landscape and Smaller (Anything below this size will see the mobile theme)
$medium-screen-before-break-size: 737px; // Apple iPhone 6 Plus Landscape + 1px (Right before we break to mobile theme)
// Any device/screen width that falls in between these two will be shown the tablet theme
$medium-screen: 1079px; // 1px less than the container wrapper width
$large-screen: 1080px; // The container width

// Decreasing Breakpoints
$bottom-down: new-breakpoint(max-width $bottom);
$small-phone-down: new-breakpoint(max-width $small-phone);
$small-screen-down: new-breakpoint(max-width $small-screen);
$large-phone-down: new-breakpoint(max-width $large-phone);
$medium-screen-before-break-down: new-breakpoint(max-width $medium-screen-before-break-size);
$medium-screen-down: new-breakpoint(max-width $medium-screen);
$large-screen-down: new-breakpoint(max-width $large-screen);

// Before Breakpoints
$medium-screen-before-break: new-breakpoint(max-width $medium-screen-before-break-size);

// Target Screens at Device Widths
$bottom-only: new-breakpoint(width $bottom);
$small-screen-only: new-breakpoint(width $small-screen);
$medium-screen-only: new-breakpoint(width $medium-screen);
$large-screen-only: new-breakpoint(width $large-screen);

// Increasing Breakpoints
$bottom-up: new-breakpoint(min-width $bottom);
$small-screen-up: new-breakpoint(min-width $small-screen);
$medium-screen-before-break-up: new-breakpoint(min-width $medium-screen-before-break-size);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
