<footer>
  <div class="wrapper">
    <ul class="social-links">
      <li class="twitter"><a href="#">twitter</a></li>
      <li class="linkedin"><a href="#">linkedin</a></li>
      <li class="github"><a href="#">github</a></li>
    </ul>
    <small>Nick Boyd 2017</small>
  </div>
</footer>
