<a href="#" class="trigger-nav"></a>
<nav class="main-nav" style="display: none;">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="close-nav"><a href="#">X</a></div>
</nav>
