{{> header}}
<div class="wrapper">
  <section class="contact">
    {{#if subtitle}}
      <h2>{{subtitle}}</h2>
    {{/if}}
    <div>
      <p>Email <br>nick@nickboyd.com</p>
    </div>
    <div>
      <p>Twitter <br><a href="http://twitter.com/_nickboyd">@_nickboyd</a></p>
    </div>
    <div>
      <p>Resume <br><a href="#">By request</a></p>
    </div>
  </section>
</div>
{{> footer}}
