{{> header}}
<div class="wrapper">
  <section class="about">
    <h2>A bit about me</h2>
    <p>Ten plus years of frontend web development experience in the advertising
      and e-commerce industries. Possesses an expansive programming and design
      skillset. Known for using the right methodologies to deliver quality work
      efficiently and on time.</p>
  </section>
  <section class="work">
    <h2>A bit of my work</h2>
    <article>
      <img src="images/hatties01.jpg">
      <footer>
        <h3>Hattie's American Bistro</h3>
        <p>American bistro with a southern low-country influence. Menu, photos
          and hours/location information.</p>
      </footer>
    </article>
    <article>
      <img src="images/leapfrog01.jpg">
      <footer>
        <h3>LeapFrog</h3>
        <p>Prepare your child for a lifetime of learning with educational toys
          from LeapFrog! Learn more about tablets for kids, learning games and
          interactive books.</p>
      </footer>
    </article>
  </section>
</div>
{{> footer}}
