{{> header}}
<div class="wrapper">
  <section class="work">
    {{#if subtitle}}
      <h2>{{subtitle}}</h2>
    {{/if}}
    <article class="hatties" style="background-image: url(images/hatties01.jpg);">
      <footer>
        <h3>Hattie's American Bistro</h3>
        <p>American bistro with a southern low-country influence. Menu, photos
          and hours/location information.</p>
      </footer>
    </article>
    <article class="leapfrog" style="background-image: url(images/leapfrog01.jpg);">
      <footer>
        <h3>LeapFrog</h3>
        <p>Prepare your child for a lifetime of learning with educational toys
          from LeapFrog! Learn more about tablets for kids, learning games and
          interactive books.</p>
      </footer>
    </article>
    <article class="beachbody" style="background-image: url(images/beachbody01.jpg);">
      <footer>
        <h3>Beachbody Ultimate Reset</h3>
        <p>he Beachbody Ultimate Reset is a program designed to help your inside
          get into amazing shape, just like your outside.</p>
      </footer>
    </article>
    <article class="lazboy" style="background-image: url(images/lazboy01.jpg);">
      <footer>
        <h3>La-Z-Boy</h3>
        <p>he Beachbody Ultimate Reset is a program designed to help your inside
          get into amazing shape, just like your outside.</p>
      </footer>
    </article>
  </section>
</div>
{{> footer}}
